work
src/*.swp
.simvision
waves.shm
xcelium.d
xrun.history
xrun.key
*.log*
*.cmd*
*.log
cov_work
imc.*
INCA_libs
irun.history
*.rpt
fv
genus_invs_des
*.tstamp
*.svwf
*.rpt.old
*.db
*.fp
*.fp.spr
*.g
*.gds
*.sdc
*.v
*.db
*.ccf
*.tcl
*.map
lef
lib
vlog

