backup
*.swp
*.raw_threshold_scan
*.thresholds_for_peak_scalers
*.thresholds_for_lower_null_scalers
*.thresholds_for_upper_null_scalers
*.pyc
*.txt
*.csv
*.pwl
build
__pycache__
dist
fastgpio.egg-info
print_string.egg-info
pypath

