# written 2020-04-01 by mza
# based off of mza-test042
# for an althea revA attached to an adafruit 813 raspberry pi hat with wires for spi connected to a+/c-/c+/d-/d+
# last updated 2020-06-15 by mza

# 50 MHz local oscillator:
net clock50_p loc=p127 | iostandard=lvds_25 | diff_term=true; # CLOCK50+
net clock50_n loc=p126 | iostandard=lvds_25 | diff_term=true; # CLOCK50-
net "clock50_p" tnm_net = tnm_clock50_p;
timespec "ts_clock50_p" = period "tnm_clock50_p" 20.0 ns high 50%; # 50 MHz

#net "k_p" tnm_net = tnm_remote_clock_p;
#timespec "ts_remote_clock_p" = period "tnm_remote_clock_p" 1.965 ns high 50%; # 508.9 MHz
#net "j_p" tnm_net = tnm_local_clock_p;
#timespec "ts_local_clock_p" = period "tnm_local_clock_p" 1.965 ns high 50%; # 508.9 MHz

#net "d_p" tnm_net = ftsw_p;
#timespec "ts_ftsw_p" = period "ftsw_p" 7.8 ns high 50%; # 128.205 MHz

net "j_p" tnm_net = tnm_clock10;
timespec "ts_clock10" = period "tnm_clock10" 100.0 ns high 50%; # 10 MHz from rpi_gpio4_gpclk0

# first column, closest to FPGA on left side of board
net a_n loc=p111 | iostandard=lvcmos25; # A- bank0 TR
net a_p loc=p112 | iostandard=lvcmos25; # A+ bank0 TR
net c_n loc=p116 | iostandard=lvcmos25; # C- bank0 TR
net c_p loc=p117 | iostandard=lvcmos25; # C+ bank0 TR
net d_n loc=p123 | iostandard=lvcmos25; # D- bank0 TR GCLK
net d_p loc=p124 | iostandard=lvcmos25; # D+ bank0 TR GCLK
#net f_n loc=p141 | iostandard=lvcmos25; # F- bank0 TL
net f_p loc=p142 | iostandard=lvcmos25 | drive = 12 | slew = fast; # F+ bank0 TL

# second column, on left side of board
net b_n loc=p114 | iostandard=lvcmos25; # B- bank0 TR
net b_p loc=p115 | iostandard=lvcmos25 | drive = 12 | slew = fast; # B+ bank0 TR
net e_n loc=p137 | iostandard=lvcmos25; # E- bank0 TL
net e_p loc=p138 | iostandard=lvcmos25; # E+ bank0 TL

# first column, closest to FPGA on right side of board
net m_p loc=p67  | iostandard=lvcmos25; # M+ bank3 BR
net m_n loc=p66  | iostandard=lvcmos25; # M- bank3 BR
net l_p loc=p58  | iostandard=lvcmos25; # L+ bank3 BR
net l_n loc=p57  | iostandard=lvcmos25; # L- bank3 BR
net j_p loc=p51  | iostandard=lvcmos25; # J+ bank3 BL GCLK
#net j_n loc=p50  | iostandard=lvcmos25; # J- bank3 BL GCLK
#net g_p loc=p41  | iostandard=lvcmos25; # G+ bank3 BL
#net g_n loc=p40  | iostandard=lvcmos25; # G- bank3 BL

# second column, on right side of board
#net k_p loc=p56  | iostandard=lvcmos25; # K+ bank3 BR GCLK
#net k_n loc=p55  | iostandard=lvcmos25; # K- bank3 BR GCLK
#net h_p loc=p48  | iostandard=lvcmos25; # H+ bank3 BL
#net h_n loc=p47  | iostandard=lvcmos25; # H- bank3 BL

net led_0 loc=p12 | iostandard=lvcmos25;
net led_1 loc=p11 | iostandard=lvcmos25;
net led_2 loc=p10 | iostandard=lvcmos25;
net led_3 loc=p9  | iostandard=lvcmos25;
net led_4 loc=p7  | iostandard=lvcmos25;
net led_5 loc=p6  | iostandard=lvcmos25;
net led_6 loc=p2  | iostandard=lvcmos25;
net led_7 loc=p1  | iostandard=lvcmos25;

net lemo loc=p93 | iostandard=lvcmos25 | drive = 24 | slew = fast;

#net "althea/reset_1/asychronous_reset_source" TIG;
#net "althea/reset_2/asychronous_reset_source" TIG;
#net "althea/reset_3/asychronous_reset_source" TIG;
#net "althea/reset_4/asychronous_reset_source" TIG;
#net "althea/global_reset" TIG;
#net "althea/clock_select" TIG;
#net "althea/leds" TIG;

