# written 2024-03-08 by mza
# based off of mza-test058.palimpsest.protodune-LBLS-DAQ.althea.revBLM.ucf
# for an ampoliros48 revA
# see ug385 for spartan6 package pins to bank mapping
# last updated 2024-03-08 by mza

# 100 MHz local oscillator:
#net clock100_p loc=f3 | iostandard=lvds_33 | diff_term=true; # bank3 CLOCK100+
#net clock100_n loc=e4 | iostandard=lvds_33 | diff_term=true; # bank3 CLOCK100-
#net "clock100_p" tnm_net = tnm_clock100_p;
#timespec "ts_clock100_p" = period "tnm_clock100_p" 10.0 ns high 50%; # 100 MHz

net "x" tnm_net = tnm_clock100;
timespec "ts_clock100" = period "tnm_clock100" 10.0 ns high 50%; # 100 MHz

net ampen  loc=v20 | iostandard=lvttl | drive = 4 | slew = slow; # bank1
net button loc=w1  | iostandard=lvttl | pullup; # bank3; momentary pushbutton, normally open 
net ldac   loc=aa1 | iostandard=lvttl | drive =  4 | slew = slow; # bank3

# raspberry pi 40pin headers, general purpose IO:
#net rpi_gpio2_i2c1_sda  loc=u1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3; easier to let the rpi control the DACs
#net rpi_gpio3_i2c1_scl  loc=t1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3; easier to let the rpi control the DACs
net rpi_gpio4_gpclk0    loc=p2 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio5           loc=g1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio6_gpclk2    loc=f1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio7_spi_ce1   loc=g3 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio8_spi_ce0   loc=h1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio9_spi_miso  loc=j1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio10_spi_mosi loc=k1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio11_spi_sclk loc=h2 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio12          loc=f2 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio13          loc=e3 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio14          loc=r1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio15          loc=p1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio16          loc=e1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio17          loc=m2 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio18          loc=n1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio19          loc=d2 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio20          loc=d1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio21          loc=b1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio22          loc=l1 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
net rpi_gpio23          loc=l3 | iostandard=lvttl | drive = 4 | slew = slow; # bank3
#net rpi_gpio24                                                              ; # used for jtag (TDO)
#net rpi_gpio25                                                              ; # used for jtag (TCK)
#net rpi_gpio26                                                              ; # used for jtag (TMS)
#net rpi_gpio27                                                              ; # used for jtag (TDI)

#net "rpi_gpio4_gpclk0" tnm_net = tnm_clock10;
#timespec "ts_clock10" = period "tnm_clock10" 100.0 ns high 50%; # 10 MHz

net outR<1>   loc=p3  | iostandard=lvttl | drive = 24 | slew = fast; # bank3
net outR<2>   loc=b3  | iostandard=lvttl | drive = 24 | slew = fast; # bank0
net outR<3>   loc=e5  | iostandard=lvttl | drive = 24 | slew = fast; # bank0
net outF<1>   loc=u3  | iostandard=lvttl | drive = 24 | slew = fast; # bank3
net outF<2>   loc=d18 | iostandard=lvttl | drive = 24 | slew = fast; # bank0
net outF<3>   loc=e16 | iostandard=lvttl | drive = 24 | slew = fast; # bank0
net inoutM<1> loc=y2  | iostandard=lvttl | drive = 24 | slew = fast; # bank3
net inoutM<2> loc=b18 | iostandard=lvttl | drive = 24 | slew = fast; # bank0

net inR<1> loc=v2  | iostandard=lvttl | drive =  4 | slew = slow; # bank3
net inR<2> loc=c5  | iostandard=lvttl | drive =  4 | slew = slow; # bank0
net inR<3> loc=g8  | iostandard=lvttl | drive =  4 | slew = slow; # bank0
net inF<1> loc=w3  | iostandard=lvttl | drive =  4 | slew = slow; # bank3
net inF<2> loc=c19 | iostandard=lvttl | drive =  4 | slew = slow; # bank0
net inF<3> loc=h13 | iostandard=lvttl | drive =  4 | slew = slow; # bank0

net tR<1> loc=j4  | iostandard=lvttl | drive =  4 | slew = slow; # bank3
net tR<2> loc=d3  | iostandard=lvttl | drive =  4 | slew = slow; # bank0
net tR<3> loc=t19 | iostandard=lvttl | drive =  4 | slew = slow; # bank1
net tF<1> loc=aa2 | iostandard=lvttl | drive =  4 | slew = slow; # bank3
net tF<2> loc=h10 | iostandard=lvttl | drive =  4 | slew = slow; # bank0
net tF<3> loc=h11 | iostandard=lvttl | drive =  4 | slew = slow; # bank0

net a_p loc=b2  | iostandard=lvttl | drive = 2 | slew = slow; # bank0 A+ 
net a_n loc=a2  | iostandard=lvttl | drive = 2 | slew = slow; # bank0 A- 
net b_p loc=f7  | iostandard=lvttl | drive = 2 | slew = slow; # bank0 B+ 
net b_n loc=f8  | iostandard=lvttl | drive = 2 | slew = slow; # bank0 B- 
net c_p loc=h14 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 C+ 
net c_n loc=g15 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 C- 
net d_p loc=c17 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 D+ 
net d_n loc=a17 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 D- 
net e_p loc=d17 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 E+ 
net e_n loc=c18 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 E- 
net f_p loc=b20 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 F+ 
net f_n loc=a20 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 F- 

net u loc=g16 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 U 
net v loc=f14 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 V GCLK
net w loc=h12 | iostandard=lvttl | drive = 2 | slew = slow; # bank0 W GCLK
net x loc=g9  | iostandard=lvttl | drive = 2 | slew = slow; # bank0 X GCLK
net y loc=d4  | iostandard=lvttl | drive = 2 | slew = slow; # bank0 Y 
net z loc=c4  | iostandard=lvttl | drive = 2 | slew = slow; # bank0 Z 

net ap<1>  loc=y11  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<1>  loc=ab11 | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<2>  loc=v11  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<2>  loc=w11  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<3>  loc=w9   | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<3>  loc=y8   | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<4>  loc=aa8  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<4>  loc=ab8  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<5>  loc=y7   | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<5>  loc=ab7  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<6>  loc=y5   | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<6>  loc=ab5  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<7>  loc=aa10 | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<7>  loc=ab10 | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<8>  loc=w10  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<8>  loc=y10  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<9>  loc=y9   | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<9>  loc=ab9  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<10> loc=aa6  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<10> loc=ab6  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<11> loc=w6   | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<11> loc=y6   | iostandard=lvds_33 | diff_term=true; # bank2 BL
net ap<12> loc=aa4  | iostandard=lvds_33 | diff_term=true; # bank2 BL
net an<12> loc=ab4  | iostandard=lvds_33 | diff_term=true; # bank2 BL

net bp<1>  loc=y17  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<1>  loc=ab17 | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<2>  loc=aa16 | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<2>  loc=ab16 | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<3>  loc=aa14 | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<3>  loc=ab14 | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<4>  loc=v13  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<4>  loc=w13  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<5>  loc=y13  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<5>  loc=ab13 | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<6>  loc=w12  | iostandard=lvds_33 | diff_term=true; # bank2  BL
net bn<6>  loc=y12  | iostandard=lvds_33 | diff_term=true; # bank2  BL
#net bp<6>  loc=u14  | iostandard=lvds_33 | diff_term=true; # bank2 BR warning: fake!
#net bn<6>  loc=u13  | iostandard=lvds_33 | diff_term=true; # bank2 BR warning: fake!
net bp<7>  loc=aa18 | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<7>  loc=ab18 | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<8>  loc=w17  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<8>  loc=y18  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<9>  loc=y16  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<9>  loc=w15  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<10> loc=y15  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<10> loc=ab15 | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<11> loc=w14  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bn<11> loc=y14  | iostandard=lvds_33 | diff_term=true; # bank2 BR
net bp<12> loc=aa12 | iostandard=lvds_33 | diff_term=true; # bank2  BL
net bn<12> loc=ab12 | iostandard=lvds_33 | diff_term=true; # bank2  BL
#net bp<12> loc=r11  | iostandard=lvds_33 | diff_term=true; # bank2 BR warning: fake!
#net bn<12> loc=t11  | iostandard=lvds_33 | diff_term=true; # bank2 BR warning: fake!

net cp<1>  loc=l20  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<1>  loc=l22  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<2>  loc=m20  | iostandard=lvds_33 | diff_term=true; # bank1  RT
net cn<2>  loc=m19  | iostandard=lvds_33 | diff_term=true; # bank1  RT
#net cp<2>  loc=p20  | iostandard=lvds_33 | diff_term=true; # bank1 RB warning: fake!
#net cn<2>  loc=n19  | iostandard=lvds_33 | diff_term=true; # bank1 RB warning: fake!
net cp<3>  loc=p21  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<3>  loc=p22  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<4>  loc=t21  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<4>  loc=t22  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<5>  loc=u20  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<5>  loc=u22  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<6>  loc=y21  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<6>  loc=y22  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<7>  loc=m21  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<7>  loc=m22  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<8>  loc=n20  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<8>  loc=n22  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<9>  loc=r20  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<9>  loc=r22  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<10> loc=u19  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<10> loc=t20  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<11> loc=v21  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<11> loc=v22  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cp<12> loc=w20  | iostandard=lvds_33 | diff_term=true; # bank1 RB
net cn<12> loc=w22  | iostandard=lvds_33 | diff_term=true; # bank1 RB

net dp<1>  loc=b21  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<1>  loc=b22  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<2>  loc=d21  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<2>  loc=d22  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<3>  loc=f21  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<3>  loc=f22  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<4>  loc=g20  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<4>  loc=g22  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<5>  loc=h21  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<5>  loc=h22  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<6>  loc=k21  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<6>  loc=k22  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<7>  loc=c20  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<7>  loc=c22  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<8>  loc=e20  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<8>  loc=e22  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<9>  loc=g19  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<9>  loc=f20  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<10> loc=j20  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<10> loc=j22  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<11> loc=j19  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<11> loc=h20  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dp<12> loc=k20  | iostandard=lvds_33 | diff_term=true; # bank1 RT
net dn<12> loc=l19  | iostandard=lvds_33 | diff_term=true; # bank1 RT

#net "button" tig;
#net "althea/word_clock_sel<?>" tig;
net "*cdc*" tig;

vccaux=3.3;
temperature=85c;
#voltage=1.21v;

